.sidebar {
    width: var(--sidebar-width);
    height: -webkit-fill-available;
    background-color: #1E1E1E;
    transition: all 0.3s ease-in-out !important;
}

.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
    transition: all 0.3s ease-in-out !important;
    z-index: 9999;
}

.sidebar-link {
    color: #fbfbfb;
    border-radius: 8px;
    margin: 4px 16px;
    white-space: nowrap;
    overflow: hidden;

    i {
        margin-right: 15px;
    }
}

.collapsed .custom-btn {
    justify-content: center !important;
}

.sidebar-link>svg>path {
    color: white !important;
}

.sidebar-link:hover {
    color: #ffffff;
    background-color: #2c3136cc !important;
    transform: translateX(5px);
    transition: all 0.2s ease-in-out !important;
}

.sidebar-link.active {
    color: #ffffff;
    background-color: var(--color-accent-dark);
    width: calc(100% - 30px);
}

.sidebar-link.active:hover {
    background-color: var(--color-accent-hover) !important;
    transform: translateX(5px);
    transition: all 0.2s ease-in-out !important;
}

.sidebar.collapsed>div.nav.flex-column>a>i {
    margin-left: 10px;
}

.logo-text {
    background: linear-gradient(45deg, #6b8cff, #8b9fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.3s ease-out;
}

.notification-badge {
    background: #ff6b6b;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 11.2px;
}

.profile-section {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

#logout-button {
    margin-top: auto !important;
}

.toggle-sidebar {
    margin-left: 10px;
    margin-right: 10px;
}

.toggle-sidebar.collapsed {
    margin-left: auto;
    margin-right: auto;
}

.toggle-btn {
    cursor: pointer;
    display: flex;
    justify-content: end;
    color: white;
    background-color: #313131;
    border: none;
    padding: 10px 20px;

    i {
        font-size: 25px;
    }
}

.img-balance {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.rounded-circle {
    height: 100%;
    border: 2px solid white;
}

.collapsed .custom-btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.collapsed .hide-on-collapse {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out !important;
}

.collapsed .logo-text {
    opacity: 0;
    display: none;
}

.collapsed .profile-info {
    opacity: 0;
    display: none;
}

.icon {
    img {
        width: 32px !important;
    }
}

#profile-image {
    width: 45px !important;
    height: 45px !important;
}

.collapsed #profile-image {
    width: 45px !important;
    height: 45px !important;
}

.collapsed .sidebar-link {
    text-align: center;
    padding: 16px !important;
    margin: 4px 8px;
    width: calc(100% - 20px);
}

.collapsed .sidebar-link svg {
    margin: 0 !important;
}

.collapsed .img-balance {
    display: none !important;
}

.collapsed #logout-button i {
    margin-top: auto !important;
    margin-right: 0;
}

.profile-info {
    transition: opacity 0.3s ease-out;
}

.favicon {
    width: 100% !important;
}

.dropdown-toggle::after {
    margin-left: 10px !important;
    color: white !important;
}

.dropdown-toggle.show::after {
    rotate: 180deg !important;
}

.dropdown-menu.show {
    background-color: #313131 !important;
    margin-top: 10px !important;
    width: 90% !important;
    box-shadow: var(--card-box-shadow) !important;
}

.dropdown-menu.show:hover {
    transform: translateX(5px);
    transition: all 0.2s ease-in-out !important
}

.dropdown-item {
    color: white !important;
    padding: 0 !important;
    padding: 10px 0 !important;
    width: 100% !important;
}

.dropdown-item:hover {
    background-color: var(--color-accent-hover) !important;
    padding-left: 12px !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
}

.dropdown-item>span {
    display: flex;
    width: calc(100% - 12px) !important;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 5px;

    & i {
        margin-right: 10px;
    }
}

