@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}


.App {
  min-height: 100vh;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-content {
  margin-left: var(--sidebar-width);
  background-color: var(--color-bg-primary);
  width: calc(100% - var(--sidebar-width));
  min-height: 100dvh;
  transition: all 0.3s ease-in-out !important;
}

.main-content.collapsed {
  width: calc(100% - var(--sidebar-width-collapsed));
  margin-left: var(--sidebar-width-collapsed);
  transition: all 0.3s ease-in-out !important;
}

.main-content.no-sidebar {
  margin-left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out !important;
}

input {
  border-color: #dee2e6;
  border-radius: 8px;
  background-color: var(--background-inputs) !important;
  color: var(--color-text-primary) !important;
}

input:focus {
  border-color: var(--color-accent) !important;
  box-shadow: none !important;
  outline: none !important;
}

select {
  border-color: var(--color-border) !important;
  border-radius: 8px;
  color: var(--color-text-primary) !important;
  background-color: var(--background-inputs) !important;
}

select:focus {
  border-color: var(--color-accent) !important;
  box-shadow: none !important;
  outline: none !important;
}

.PhoneInput {
  background-color: var(--background-inputs);
  border: 2px solid var(--color-border) !important;
  font-size: 12px !important;
  border-radius: 8px;
  color: var(--color-text-primary) !important;
  padding: 6px 12px;
  transition: all 0s ease-in-out !important;
  margin-left: 0 !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  height: 35px !important;
}

.PhoneInputCountrySelect {
  background-color: transparent !important;
  border: none !important;
}

.PhoneInputCountrySelect:disabled {
  display: none !important;
}

.PhoneInput input {
  transition: all 0s ease-in-out !important;

}

.PhoneInputInput {
  font-size: 14px !important;
  border: none !important;
  color: var(--color-text-primary) !important;
}

.PhoneInput--focus input {
  outline: none !important;
}

.form-control {
  background-color: var(--background-inputs) !important;
  border-radius: 8px;
  height: 35px !important;
  border: 2px solid var(--color-border) !important;
}

.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker-wrapper div input {
  width: 100% !important;
  border: 2px solid var(--color-border) !important;
  border-radius: 8px !important;
  background-color: var(--background-inputs) !important;
}

.form-control[readonly],
.form-control:disabled,
.form-control[readonly],
.react-datepicker__input-container input[readonly],
.react-datepicker__input-container input:disabled {
  background-color: var(--background-inputs-disabled) !important;
  opacity: 1 !important;
  color: var(--font-color-disabled) !important;
}

input:disabled {
  background-color: var(--background-inputs-disabled) !important;
  opacity: 1 !important;
  color: var(--font-color-disabled) !important;
}

.react-datepicker__input-container input {
  height: 35px !important;
  border: 2px solid var(--color-border) !important;
}

.react-datepicker__calendar-icon {
  display: flex !important;
}

.bi-eye,
.bi-eye-slash {
  color: var(--color-text-primary) !important;
}


div,
.form-control,
.react-datepicker__input-container input,
textarea,
select,
option,
button {
  transition: background-color 0.3s ease-out !important;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
label,
i,
svg,
input {
  transition: color 0.3s ease-out !important;
}

label {
  font-size: 12px !important;
}

input,
textarea,
select,
option,
.form-control,
.react-datepicker__input-container input {
  transition: border 0s !important;
}