* {
  font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 100vh;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main-content {
  margin-left: var(--sidebar-width);
  background-color: var(--color-bg-primary);
  width: calc(100% - var(--sidebar-width));
  min-height: 100dvh;
  transition: all 0.3s ease-in-out !important;
}

.main-content.collapsed {
  width: calc(100% - var(--sidebar-width-collapsed));
  margin-left: var(--sidebar-width-collapsed);
  transition: all 0.3s ease-in-out !important;
}

.main-content.no-sidebar {
  margin-left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out !important;
}